/* Пользовательские стили*/
{strip}
.b-mainslider__overlay {
    background-color: rgb(255 229 0);
}
.highlight {
    color #E80000;
	text-shadow: 
		-0   -1px 3px #FFFFFF,
		 0   -1px 3px #FFFFFF,
		-0    1px 3px #FFFFFF,
		 0    1px 3px #FFFFFF,
		-1px -0   3px #FFFFFF,
		 1px -0   3px #FFFFFF,
		-1px  0   3px #FFFFFF,
		 1px  0   3px #FFFFFF,
		-1px -1px 3px #FFFFFF,
		 1px -1px 3px #FFFFFF,
		-1px  1px 3px #FFFFFF,
		 1px  1px 3px #FFFFFF,
		-1px -1px 3px #FFFFFF,
		 1px -1px 3px #FFFFFF,
		-1px  1px 3px #FFFFFF,
		 1px  1px 3px #FFFFFF;
}
.b-countdown {
    color: #000000b3;
}
.b-mainslider {
    margin: 50px 0;
}

.b-countdown {
    margin: 0 auto 50px;
}

.b-slim_menu {
    margin-left: 50px;
}

.b-menu__links {
    font-size: 18px;
}

.b-item__head--small {
font-size: 16px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.b-catalog__thumbs .b-item {
    padding-bottom: 150px;
}

.b-item__price {
    color: #333333;
}

.b-item__del {
    font-size: 25px;
    color: #ff1313;
}
.b-catalog {
    padding: 30px 0;
}

.b-plitka {
    padding: 30px 0;
}

.b-plitka__tile {
    margin-bottom: 5px;
}

.b-catalog__head {
    margin-bottom: 20px;
}

.b-plitka--dark .b-plitka__item {
    background: #d27e04;
}

{/strip}
